.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #7487cf ;

    padding: 10px;
}
.card-1 {
width: 100%;
padding-left: 180px;
display: flex;
flex-direction: column;
justify-content: center;
color: white;
font-weight: bold;
font-size: 40px;
}
.card-2 {
background-color: white;
width: 90%;
border-radius: 5px;
padding: 25px;
margin: 40px;

}
label {
margin: 10px;
}
input{
margin: 10px;
width: 95%;
height: 30px;
}
textarea{
margin: 10px;
width: 95%;
height: 30px;

}
@media (max-width : 600px){
.card-1{
    display: none;
}
.rowItems{
    flex-direction: column;
}
}
